body {
    font-family:Arial;
    font-size:14px;
    margin-top:0px;
    margin-left:0px;
}

#Titulo {
    font-size:20px;
    font-weight:bold;
}

#Progress {
    position:fixed;
    left:0px;
    top:0px;
    z-index:100;
}

#Formulario {
    padding:20px;
    margin:0 auto;
}
